.column-content {
    padding: 10px;
    flex: 1;
    background-color: #F4F5F7;

    h4 {
        background: white;
        padding: 10px;
        box-shadow: 0 0 1px lightgrey;
        margin-top: 0;
    }
}